body{
    margin: 0;
    // background: rgba(30,30,30,255);
    background: rgba(23, 30, 33, 1);
    min-height: 200vh;
    overflow-x: hidden;
    background-image: url('/public/images/texture.svg');
    background-size: contain;
    background-repeat: repeat-y;
}
* {
    font-family: 'Montserrat', sans-serif;
}
.text-alternates{
    font-family: "Montserrat Alternates", 'Montserrat', sans-serif;
}
.text-encode{
    font-family: "Encode Sans Condensed", 'Montserrat', sans-serif;
}
.text-italic{
    font-style: italic;
}
.filter-white{
    filter: invert(99%) sepia(1%) saturate(281%) hue-rotate(283deg) brightness(112%) contrast(79%);
}
.click.filter-white{
    // cursor: pointer;
    // padding: 0.4rem;
    // &:hover{
    //     background: rgb(228, 228, 228, 0.5);
    //     border-radius: 100px;
    // }
}
.filter-grey{
    filter: invert(68%) sepia(11%) saturate(149%) hue-rotate(147deg) brightness(90%) contrast(87%);
}
.click.filter-grey{
    cursor: pointer;
    &:hover{
        filter: invert(68%) sepia(11%) saturate(149%) hue-rotate(147deg) brightness(120%) contrast(87%);
    }
}